* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-color: #85C4AC;
    --secondary-color: hsla(150, 8%, 95%, 0.975);
    --third: #CBB37B;
}

/*--------Header----------*/
header img {
    display: block;
}

nav {
    display: block;

    padding: 1.5rem;
    align-items: center;
}

header {
    display: block;
    background-color: var(--primary-color);
    font-size: 2rem;
}

a {
    display: block;
    text-decoration: none;

    padding: 1rem;
    border-radius: 30%;
    color: black;
}

a:hover {
    background-color: var(--primary-color);
    color: white;
}

img {
    width: 25%;
    margin: auto;

}

/*-------MAIN-------*/
main {
    background-image: url(../images/background.webp);
}

.popular {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;

}


/*-------Secttions-------*/
section {
    text-align: center;
}

h1 {
    text-align: center;

}

h2 {
    font-size: 1rem;
}


.phikes {
    text-align: right;
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.phikes:hover {
    transform: scale(1.1);
}


section img {
    width: 40%;
    margin-left: 10px;
    overflow: hidden;
    position: relative;
}

.iframe {
    width: 100%;
}

iframe {
    width: 100%;
}

/*-----------Footer---------*/
footer {
    background-color: var(--third);
    color: white;
    font-size: 2rem;
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 1.5rem;
    padding-top: 50px;
    padding-bottom: 50px;
}