* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-color: #85C4AC;
    --secondary-color: #53dde411;
    --third: #CBB37B;
}

/*--------Header----------*/
nav {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    align-items: center;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--primary-color);
    font-size: 2rem;
}

a {
    text-decoration: none;
    background-color: white;
    padding: 1rem;
    border-radius: 30%;
    color: black;
}

a:hover {
    background-color: var(--primary-color);
    color: white;
}

img {
    width: 25%;
    margin: auto;

}

/*-------MAIN-------*/
main {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

/*-------Secttions-------*/
section {

    background-color: var(--secondary-color);
}

h1 {
    text-align: center;
}


.phikes {
    text-align: right;
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.phikes:hover {
    transform: scale(1.1);
}

.phikes {}

section img {
    width: 40%;
    margin-left: 10px;
}