* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-color: #85C4AC;
    --secondary-color: hsla(150, 8%, 95%, 0.975);
    --third: #CBB37B;
}

/*--------Header----------*/
header img {
    display: block;
}

nav {
    display: block;

    padding: 1.5rem;
    align-items: center;
}

header {
    display: block;
    background-color: var(--primary-color);
    font-size: 2rem;
}

a {
    display: block;
    text-decoration: none;

    padding: 1rem;
    border-radius: 30%;
    color: black;
}

a:hover {
    background-color: var(--primary-color);
    color: white;
}

img {
    width: 25%;
    margin: auto;

}

/*--------------------MAIN--------------*/

main {
    background-image: url(../images/mtbbackground.webp);
    color: white;
}

h1 {
    text-align: center;
    padding: 1rem 0;
}

.mtb {
    position: relative;
    width: 1000px;
    height: 1000px;
    overflow: hidden;
    margin: auto;
}

.trails {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* Individual backgrounds */
.slc {
    background-color: #07662f8e;
    animation-name: slideAndHideOne;
}

.boutiful {
    background-color: #2ed57466;
    animation-name: slideAndHideTwo;
}

/* --- KEYFRAME ANIMATIONS --- */


@keyframes slideAndHideOne {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    45% {
        transform: translateX(0);
        opacity: 1;

    }

    50% {
        transform: translateX(-100%);
        opacity: 0;

    }

    95% {
        transform: translateX(100%);
        opacity: 0;

    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideAndHideTwo {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    45% {
        transform: translateX(100%);
        opacity: 0;
    }

    50% {
        transform: translateX(0);
        opacity: 1;
    }

    95% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

/*-----------Footer---------*/
footer {
    background-color: var(--third);
    color: white;
    font-size: 2rem;
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 1.5rem;
    padding-top: 50px;
    padding-bottom: 50px;
}