@media screen and (min-width: 1000px) {

    :root {
        --primary-color: #85C4AC;
        --secondary-color: hsla(150, 29%, 35%, 0.863);
        --third: #CBB37B;
    }

    /*--------Header----------*/
    main {
        background-image: url(../images/mtbbackground.webp);
    }

    header img {
        display: inline;
    }

    nav {
        display: flex;
        justify-content: space-around;
        padding: 1.5rem;
        align-items: center;

    }

    header {
        display: grid;
        grid-template-columns: 1fr 2fr;

    }



    /*-------MAIN-------*/
    main {
        background-image: url(../images/mtblargebackground.webp);
    }




    /*-------Secttions-------*/
    section {
        background-color: var(--secondary-color);
    }

    .iframe {
        grid-column: 1/3;
    }

    /*-----------Footer---------*/



}