main {
    text-align: center;
}

img {
    display: block;
    background: #0000;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}